body {
  font-family: "Merriweather", serif;
  margin: 0;
}

/* Header Styles */
.header {
  background-color: #007bff;
  color: white;
  padding: 15px 30px;
  padding-left: 300px;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  text-align: center;
  width: 100%;
  font-size: 1.8rem;
}

.header .btn-logout {
  background-color: #dc3545;
  color: white;
  border: none;
  width: 110px;
  padding: 10px 20px;
  font-size: 1rem;
}

.header .btn-logout:hover {
  background-color: #c82333;
}

/* Sidebar Styles */
#sidenav {
  background-color: #343a40;
  color: white;
  height: 100vh;
  /* Full height initially */
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  padding-top: 40px;

  transition: all 0.3s;
  display: block;
}

#sidenav h1 {
  color: #ff6600;
  text-align: center;
  font-family: "Sacramento", cursive;
  margin-bottom: 40px;
}

#sidenav a {
  color: white;
  padding: 12px 15px;
  display: block;
  text-decoration: none;
  margin: 10px 0;
}

#sidenav a:hover {
  background-color: #495057;
  border-radius: 5px;
}

/* Main content area */
#main {
  margin-left: 250px;
  padding: 20px;
  transition: margin-left 0.3s ease;
}

/* Mobile Adjustments */
@media (max-width: 991px) {
  .header {
    margin-left: 0;
    width: 100%;
    padding: 10px 15px;
  }

  #sidenav {
    position: relative;
    margin-top: 0px;
    width: 100%;
    left: 0;
    height: auto;
    /* Height set to auto on small screens */
  }

  #main {
    margin-left: 0;
  }

  .header h1 {
    font-size: 1.5rem;
  }

  .header .btn-logout {
    font-size: 1rem;
    padding: 8px 16px;
  }

  #sidenav a {
    font-size: 1rem;
    padding: 10px;
  }
}

/* Small devices (Mobile) */
@media (max-width: 767px) {
  .header {
    padding-left: 200px;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
  }

  .header h1 {
    font-size: 1.5rem;
    text-align: left;
  }

  .header .btn-logout {
    margin-top: 10px;
    margin-left: 100px;
  }

  #sidenav {
    width: 100%;
    position: relative;
    margin-top: 0px;
    left: 0;
    height: auto;
    /* Ensure auto height on smaller screens */
  }

  #main {
    margin-left: 0;
  }
}

@media (max-width: 611px) {
  .header {
    padding-left: 110px;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
  }

  .header h1 {
    font-size: 1.5rem;
    text-align: left;
  }

  .header .btn-logout {
    margin-top: 10px;
    margin-left: 100px;
  }

  #sidenav {
    width: 100%;
    position: relative;
    margin-top: 0px;
    left: 0;
    height: auto;
    /* Ensure auto height on smaller screens */
  }

  #main {
    margin-left: 0;
  }
}
